<html>
  <head>
  <style>
  body {
    background: <%= color %>;
  }
  </style>
  </head>
  <body>
  <form>
    <h1>Guess a number between 1 and 100</h1>
    <input type='text' name='guess' />
    <input type='submit' value='Guess!' />
    <p><%=message%></p>    
  </form>
  </body>
</html>
